// for loop
// @for $var from <start> through <end>

@for $space from 1 through 6
{
	.pt-#{$space}
	{
		padding-top:10px * $space;
	}
	.pb-#{$space}
	{
		padding-bottom:10px * $space;
	}
	
}

// While loop
// @while $var something int

$num: 1;
@while $num < 7{

	$width: percentage(1 / $num);
	.column-#{$num}
	{
		width:$width;
	}
	$num: $num + 1;
}


// EACH loop
// @each key, value in array {}

$white : #fff;
$black : #000;
$red : #f00;
$primary : #ccc;
$secondary : #333;

$colours:(
'white':$white,
'black':$black,
'red':$red,
'primary':$primary,
'secondary':$secondary
);

@each $colour , $hex in $colours
{
	// .text-white{color:#fff;}
	.text-#{$colour}{
		color:$hex;
	}

	.background-#{$colour}{
		background-color:$hex;
	}
}

