@mixin banner{
	width:100%;
	position: relative;
	color:#fff;
	.banner-content{
		position: absolute;
		top:50%;
		width:100%;
	}
	img{
		width:100%;
	}
	span{
		font-size:$bannerHeading;
		display:block;
		text-transform:uppercase;
		font-weight:bold;
		@include mediaQuery(3000px,1200px){
			 font-size: 68px;
		}
	}
	span.sub-title{
    font-weight: normal;
    margin-bottom: 30px;
  }
	@include mediaQuery(1200px){
    max-height: 640px;
    overflow: hidden;
  }

}

@mixin clearFix{
	&:after{
	content:'';
	display:block;
	clear:both;
}
}

@mixin grid($cols, $margin){
	float:left;
	width: ((100% - (($cols - 1) * $margin)) / $cols );
	margin-right:$margin;
	margin-bottom:$margin;
	&:nth-child(#{$cols}n){
	margin-right:0;
	}
}

@mixin translateX($val){
	-webkit-transform:translateX($val);
	-moz-transform:translateX($val);
	-ms-transform:translateX($val);
	-o-transform:translateX($val);
	transform:translateX($val);
}
@mixin animate-time($time: 320ms){
	-webkit-transition:$time ease;
	-moz-transition:$time ease;
	-ms-transition:$time ease;
	-o-transition:$time ease;
	transition:$time ease;
}

@mixin mediaQuery($args...){
  @if length($args) == 1{
    @media screen and (max-width: nth($args, 1)){
      @content;
    }
  }
  @if length($args) == 2{
    @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
      @content;
    }
  }
}