@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/loop";
$container: 1440px;
$padding:25px;
@function half-height($first,$second){
	@return $container / $first + $padding / $second;
}
.half{
	height: include half-height(2,2) ;
}

.half1{
	height: include half-height(3,2) ;
}

.half2{
	height: include half-height(3,2) ;
}
#main-nav{
	background:$deepBlue;
	ul{
		list-style: none;
		width:100%;
		
	}
	li {
		width:(100% / 8);
		display:inline-block;
		@include mediaQuery(600px){
			width:100%;
		}
	}
		a {
		color:$offwhite;
		text-decoration:none;
		padding:16px;
		display:block;
		text-align:center;
		&:hover {
	background:lighten($deepBlue, 6);
	}
		}
	
	@include clearFix;
}

section h1{
	margin:40px 0;
	text-align:center;
	text-transform:uppercase;
	font-size:$sectionHeading;
	color:$deepBlue;
}

.lead-banner{
	@include banner;
	text-align:right;
}

.lessons-banner{
	@include banner;
	text-align: left;
	li{
		text-transform:uppercase;
		font-size:20px;
		max-width:500px;
		margin: 60px 0px;
	}
}

#services {
	margin-bottom:60px;
	li{
		 width: (100% / 4 - 1);
		display:inline-block;
		box-sizing:border-box;
		text-align:center;
	}
	img{
		width:60%;
		margin:20px 20%;
	}
	a{
		text-decoration:none;
		color:$deepBlue;
		font-weight:bold;
		&:hover{
			color:complement($deepBlue);
		}
	}
	@include clearFix;

}

#projects {
	li{
		 @include grid(6, 2%);
	}
	img{
		width:100%;
	}

}