@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  overflow: hidden;
}

.crazy-cat {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  width: 50%;
  padding: 25px;
}
.message h1 {
  font-size: 56px;
  color: #5f5f5f;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 100;
  margin: 40px 0;
}
.message p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #808080;
  margin: 40px 0;
  line-height: 28px;
}
.message a {
  display: inline-block;
  background: #c7c7c7;
  color: #696969;
  text-align: center;
  padding: 20px 40px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}
.message a:hover {
  background: #333;
  color: #ccc;
}

.gear {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  animation: gear 50s infinite linear;
  transform-origin: center;
  top: -250px;
  right: -250px;
  font-size: 600px;
  z-index: 0;
  color: #eaeaea;
}
@keyframes gear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 760px) {
  .message h1 {
    font-size: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
