body {
  font-family: arial;
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.pt-1 {
  padding-top: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.column-1 {
  width: 100%;
}

.column-2 {
  width: 50%;
}

.column-3 {
  width: 33.3333333333%;
}

.column-4 {
  width: 25%;
}

.column-5 {
  width: 20%;
}

.column-6 {
  width: 16.6666666667%;
}

.text-white {
  color: #fff;
}

.background-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.background-black {
  background-color: #000;
}

.text-red {
  color: #f00;
}

.background-red {
  background-color: #f00;
}

.text-primary {
  color: #ccc;
}

.background-primary {
  background-color: #ccc;
}

.text-secondary {
  color: #333;
}

.background-secondary {
  background-color: #333;
}

.half {
  height: include 732.5px;
}

.half1 {
  height: include 492.5px;
}

.half2 {
  height: include 492.5px;
}

#main-nav {
  background: #032f3e;
}
#main-nav ul {
  list-style: none;
  width: 100%;
}
#main-nav li {
  width: 12.5%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  #main-nav li {
    width: 100%;
  }
}
#main-nav a {
  color: #f8f9fb;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
}
#main-nav a:hover {
  background: #04455b;
}
#main-nav:after {
  content: "";
  display: block;
  clear: both;
}

section h1 {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #032f3e;
}

.lead-banner {
  width: 100%;
  position: relative;
  color: #fff;
  text-align: right;
}
.lead-banner .banner-content {
  position: absolute;
  top: 50%;
  width: 100%;
}
.lead-banner img {
  width: 100%;
}
.lead-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 3000px) and (min-width: 1200px) {
  .lead-banner span {
    font-size: 68px;
  }
}
.lead-banner span.sub-title {
  font-weight: normal;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .lead-banner {
    max-height: 640px;
    overflow: hidden;
  }
}

.lessons-banner {
  width: 100%;
  position: relative;
  color: #fff;
  text-align: left;
}
.lessons-banner .banner-content {
  position: absolute;
  top: 50%;
  width: 100%;
}
.lessons-banner img {
  width: 100%;
}
.lessons-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 3000px) and (min-width: 1200px) {
  .lessons-banner span {
    font-size: 68px;
  }
}
.lessons-banner span.sub-title {
  font-weight: normal;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .lessons-banner {
    max-height: 640px;
    overflow: hidden;
  }
}
.lessons-banner li {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 500px;
  margin: 60px 0px;
}

#services {
  margin-bottom: 60px;
}
#services li {
  width: 24%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
#services img {
  width: 60%;
  margin: 20px 20%;
}
#services a {
  text-decoration: none;
  color: #032f3e;
  font-weight: bold;
}
#services a:hover {
  color: #3e1203;
}
#services:after {
  content: "";
  display: block;
  clear: both;
}

#projects li {
  float: left;
  width: 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}
#projects li:nth-child(6n) {
  margin-right: 0;
}
#projects img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
