.pt-1 {
  padding-top: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.column-1 {
  width: 100%;
}

.column-2 {
  width: 50%;
}

.column-3 {
  width: 33.3333333333%;
}

.column-4 {
  width: 25%;
}

.column-5 {
  width: 20%;
}

.column-6 {
  width: 16.6666666667%;
}

.text-white {
  color: #fff;
}

.background-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.background-black {
  background-color: #000;
}

.text-red {
  color: #f00;
}

.background-red {
  background-color: #f00;
}

.text-primary {
  color: #ccc;
}

.background-primary {
  background-color: #ccc;
}

.text-secondary {
  color: #333;
}

.background-secondary {
  background-color: #333;
}

/*# sourceMappingURL=loop.css.map */
